.footer{
    padding: 3rem 0 4rem;
    background-color: $white; //$secondary;
    &__wrapper{
        width: 95%;
        margin: auto;
        @include flexible (column, nowrap, center, center);
        flex-direction: column-reverse;
        @include respond-above(md) {
            @include flexible (row, nowrap, space-between, center);
        }
    }
    &__hr{
        color: $blacky; //$lightgray;
    }
    &__title{
        display: flex;
        flex-flow: row;
        align-items: flex-end;
        justify-content: flex-start;
        color: $ppal;
        font-size: 20px;
    }
    &__name{
        display: inline; /* Para hacer que el párrafo esté en línea */
        margin-bottom: 0;
        color: $primary; //$lightgray;
        font-size: 20px;
    }
    &__contact{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        @include respond-above(md) {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
        } 
    }
    &__phone{
        font-weight: 500;
        font-size: 16px;
        &:hover{
            color: $primary;
        }
    }
    &__email{
        font-weight: 300;
        font-size: 16px;
        &:hover{
            color: $primary;
        }
    }
    &__social-media{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        gap: 1.5rem;
        @include respond-above(md) {
            margin-bottom: 0;
        }
    }
    &__social-item{
        width: 22px;
        height: 22px;
        background-color: $white; //$lightgray;
        border-radius: 11px;
        &:hover{
            transform: scale(1.2);
            //background-color: $ppal;
            .footer__link i::before{
                //color: $white;
                color: $primary; //$blacky;
            }
        }
    }
    &__link{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: row;
    }
    &__social-icon::before{
        color: $blacky;
        font-size: 16px;
        vertical-align: middle;  
    }

}