@import '_mixins';

.main{
    //min-height: 100vh;
    background-color: $white; //#748b97;
    @include flexible (row, nowrap, center, center );
    &__wrapper{
        padding: 2rem;
        background-color: $white ;
        @include flexible (column, nowrap, center, center );
        border-radius: 1rem;
    }
    &__box{
        @include flexible (column, nowrap, center, center);
    }
    &__h1{
        color: #262e33;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
    &__input{
        padding:.5rem 1rem;
        margin-top: 1rem;
        background-color: white;
        border-radius: .5rem;
        width: 100%;
        color: #262e33;
        width: fit-content;
        &:focus-visible{
            outline: #262e33 auto 1px;
        }
    }
    &__input.letra{
        text-transform: uppercase;
    }
    &__button{
        width: fit-content;
        margin-top: 1rem;
        border-radius: .5rem;
        background-color: #262e33;
        color: $white ;
        padding: 1rem;
        font-weight: 800;
        width: 100%;
        &:hover{
            background-color: #151a1d;
        }
    }
    &__result{
        width: 100%;
        text-align: center;
    }
}

