@mixin flexible( $direction, $cortar, $justi, $verti){
    display: flex;
    flex-flow: $direction $cortar;
    justify-content: $justi;
    align-items: $verti;
}

@mixin respond-above($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);
        @media (min-width: $breakpoint-value) {
        @content;
        }
    } @else {
        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}
